/* 版心的公共类 */
.container {
    width: 1240px;
    margin: 0 auto;

}
/* 快捷菜单模块：xtx-shortcut */
.xtx-shortcut {
    height: 52px;
    background-color: #333333;
}

.xtx-shortcut .container{
    height: 52px;
    color: #666666;
                    
}
.xtx-shortcut ul li{
    float: left;
    line-height: 52px;
}
.xtx-shortcut ul a{
    margin: 0 16px;
    color: #dcdcdc;
    font-size: 14px;
}
.xtx-shortcut li:last-child a{
    margin-right: 0;
}
 .xtx-shortcut li:last-child a::before{
    content: '';
    width: 11px;
    height: 16px;
    margin-top: -3px;
    margin-right: 8px;  
    display: inline-block;
    background: url(../images/sprites.png) -160px -70px;
    vertical-align: middle;
}
/* 主导航模块 xtx-main-nav */
.xtx-main-nav{
    padding-top: 30px;
    height: 130px;
    box-sizing: border-box;
}
.xtx-main-nav .logo{
    width: 207px;
    height: 70px;
    margin-left: 25px;
  
}
.xtx-main-nav .logo a{
    display: block;
    height: 70px;
    background: url(../images/logo.png);
    background-size: 100% 100%;
    font-size: 0;
    /* 设置图片大小使用background-size */
}
.xtx-main-nav li{
   float: left;
    margin-right: 48px;
    height: 70px;
    line-height: 70px;

}
.xtx-main-nav li:first-child{
    margin-left: 40px;
}

.xtx-main-nav nav a:hover{
    color:#27ba9b ;
    border-bottom: 1px solid #27ba9b;
    padding-bottom: 7px;
}

.xtx-main-nav .search{
    position: relative;
    width: 172px;
    height: 30px;
    background-color: red;
    margin-top:24px ;
    margin-left: 34px;
}
.xtx-main-nav .search::before{
    position: absolute;
    top: 0;
    left: 2px;
    content: '';
    width: 20px;
    height: 20px;
    background: url(../images/sprites.png) -77px -66px;

}
.xtx-main-nav .search input{
    width: 172px;
    height: 30px;
    border-bottom: 2px solid #e7e7e7;
    padding-left: 31px;
}
.xtx-main-nav .cart{
    position: relative;
    width: 23px;
    height: 23px;
    margin-top: 28px;
    margin-left: 15px;
    background: url(../images/sprites.png) -120px -70px;
}
.xtx-main-nav .cart span{
   position: absolute;
   width: 20px;
   height: 15px;
   background-color: #e26237;
   top:-5px ;
   right: -5px;
   border-radius: 8px;
   font-size: 13px;
   color: #fff;
   text-align: center;
   line-height: 15px;
}
/* 宣传服务模块 : XTX-SERVICE*/
.xtx-service {
    height: 174px;
    background-color: #333333;
}
.xtx-service .container{
    width: 1393px;
    height: 173px;
    border-bottom: 1px solid #434343;
   
}
.xtx-service .container a{
    float: left;
    width: 33.33%;
    height: 173px;

    /* 水平垂直居中 */
    text-align: center;
    line-height: 173px;
    font-size: 28px;
    color: #fff;
}
.xtx-service .container a::before{
    display: inline-block;
    content: '';
    width: 58px;
    height: 58px;
    background: url(../images/sprites.png) 0 0 ;
    /* 图片与文字垂直对齐方式 */
    vertical-align: middle;
    margin-right: 19px;
}
.xtx-service a:nth-child(2)::before{
    background-position: -130px 0;
}
.xtx-service a:nth-child(3)::before{
    background-position: -65px 0;
}
/* 版权信息模块 :xtx-copyright*/
.xtx-copyright{
    height: 168px;
    background-color: #333333;
}
.xtx-copyright .container{
    padding-top: 41px;
    box-sizing: border-box;
    height: 168px;
  
    text-align: center;
    font-size: 14px;
    color: #999;
}

.xtx-copyright .container p a{
    color: #999;
}
.xtx-copyright .container p:first-child{
    height: 35px;
}